<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.JuesemodelMapper">

    <sql id="juesemodelBaseColumnSql">
        jsid,
        modelid,
        jsmodelid
    </sql>

    <sql id="juesemodelBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.jsid)">
                    jsid = #{map.jsid}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.modelid)">
                    AND modelid = #{map.modelid}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.jsmodelid)">
                    AND jsmodelid = #{map.jsmodelid}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertJuesemodel" parameterType="com.wang.entity.Juesemodel">
        INSERT INTO juesemodel(
        <include refid="juesemodelBaseColumnSql"/>
        )VALUES(
            #{jsid},
            #{modelid},
            #{jsmodelid}
        )
    </insert>

    
    <delete id="deleteJuesemodelByJsmodelid" parameterType="Integer">
        DELETE FROM juesemodel WHERE jsmodelid = #{jsmodelid}
    </delete>

    <update id="updateJuesemodel" parameterType="com.wang.entity.Juesemodel">
        UPDATE juesemodel
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(jsid)">
                jsid = #{jsid} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(modelid)">
                modelid = #{modelid} ,
            </if>
        </set>
        WHERE jsmodelid = #{jsmodelid}
    </update>

    <select id="searchJuesemodelByParams" parameterType="map" resultMap="juesemodelMap">
        SELECT
        <include refid="juesemodelBaseColumnSql"/>
        FROM juesemodel
        <include refid="juesemodelBaseWhereSql"/>
    </select>

    <resultMap type="com.wang.entity.Juesemodel" id="juesemodelMap">
        <id column="jsmodelid" property="jsmodelid"/>
        <result column="jsid" property="jsid"/>
        <result column="modelid" property="modelid"/>
    </resultMap>

<!--通过jsidcha-->
    <select id="searchJuesemodelByParams1" parameterType="int" resultMap="juesemodelMap1">
      SELECT juesemodel.jsmodelid,juesemodel.jsid,juesemodel.modelid,model.modelname,jiaose.jsname
      FROM  ((juesemodel JOIN jiaose ON juesemodel.jsid=jiaose.jsid) JOIN model ON juesemodel.modelid=
      model.modelid) where juesemodel.jsid=#{jsid}
    </select>

    <resultMap type="com.wang.vo.JuesemodelVo" id="juesemodelMap1">
        <id column="jsmodelid" property="jsmodelid"/>
        <result column="jsid" property="jsid"/>
        <result column="modelid" property="modelid"/>
        <result column="modelname" property="modelname"/>
        <result column="jsname" property="jsname"/>
    </resultMap>

</mapper>
