<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.JiaoseMapper">

    <sql id="jiaoseBaseColumnSql">
        jsid,
        jsname
    </sql>

    <sql id="jiaoseBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.jsid)">
                    jsid = #{map.jsid}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.jsname)">
                    AND jsname = #{map.jsname}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertJiaose" parameterType="com.wang.entity.Jiaose">
        INSERT INTO jiaose(
        <include refid="jiaoseBaseColumnSql"/>
        )VALUES(
            #{jsid},
            #{jsname}
        )
    </insert>

    
    <delete id="deleteJiaoseByJsid" parameterType="Integer">
        DELETE FROM jiaose WHERE jsid = #{jsid}
    </delete>

    <update id="updateJiaose" parameterType="com.wang.entity.Jiaose">
        UPDATE jiaose
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(jsname)">
                jsname = #{jsname} ,
            </if>
        </set>
        WHERE jsid = #{jsid}
    </update>

    <select id="searchJiaoseByParams" parameterType="map" resultMap="jiaoseMap">
        SELECT
        <include refid="jiaoseBaseColumnSql"/>
        FROM jiaose
        <include refid="jiaoseBaseWhereSql"/>
    </select>

    <resultMap type="com.wang.entity.Jiaose" id="jiaoseMap">
        <id column="jsid" property="jsid"/>
        <result column="jsname" property="jsname"/>
    </resultMap>

</mapper>
