<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.UserMapper">

    <sql id="userBaseColumnSql">
        userid,
        username,
        passward,
        isdelete,
        jsid
    </sql>

    <sql id="userBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.userid)">
                    userid = #{map.userid}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.username)">
                    AND username = #{map.username}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.passward)">
                    AND passward = #{map.passward}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.isdelete)">
                    AND isdelete = #{map.isdelete}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.jsid)">
                    AND jsid = #{map.jsid}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertUser" parameterType="com.wang.entity.User">
        INSERT INTO user(
        <include refid="userBaseColumnSql"/>
        )VALUES(
            #{userid},
            #{username},
            #{passward},
            #{isdelete},
            #{jsid}
        )
    </insert>

    
    <delete id="deleteUserByUserid" parameterType="Integer">
        DELETE FROM user WHERE userid = #{userid}
    </delete>

    <update id="updateUser" parameterType="com.wang.entity.User">
        UPDATE user
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(username)">
                username = #{username} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(passward)">
                passward = #{passward} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(isdelete)">
                isdelete = #{isdelete} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(jsid)">
                jsid = #{jsid} ,
            </if>
        </set>
        WHERE userid = #{userid}
    </update>

    <select id="searchUserByParams" parameterType="map" resultMap="userMap">
        SELECT
        <include refid="userBaseColumnSql"/>
        FROM user
        <include refid="userBaseWhereSql"/>
    </select>

    <resultMap type="com.wang.entity.User" id="userMap">
        <id column="userid" property="userid"/>
        <result column="username" property="username"/>
        <result column="passward" property="passward"/>
        <result column="isdelete" property="isdelete"/>
        <result column="jsid" property="jsid"/>
    </resultMap>

</mapper>
